.contenido-locales{
    height: 80vh;
    background-color: #D9D9D9;
    width: 90%; 
    opacity: 40%;
    border-radius: 1vw;
    justify-content: space-between;
    align-items: center;
    display: grid; /* Activa Grid para el contenedor */
    grid-template-columns: repeat(auto-fit, minmax(45%, 1fr)); /* Define el número de columnas automáticas */
   
}
.local{
    background-color: black;
    height: 25vh;
    opacity: 40%; 
   margin-left: 0.5vw;
   margin-right: 0.5vw;
    text-align: center;
    border-radius: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}